<%- include('../layouts/admin_header') %>

    <h1 class="padding-tb-15">Add a category</h1>

    <a href="/admin/categories" class="btn btn-primary">Back to all categories</a>

    <form action="/admin/categories/add-category" method="POST" class="padding-tb-15">
        
        <div class="form-group">
            <label class="form-label" for="text">Title</label>
            <input class="form-control" type="text" name="title" placeholder="title" value="<%= title %>">    
        </div>
        
        <button class="btn btn-default padding-10">Submit</button>
    </form>





<%- include('../layouts/admin_footer') %>





















