<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link rel="stylesheet" href="/stylesheets/pages.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
    <header class="header">
        <div class="navbar grid wide">
            <a href="" class="navbar-brand">Tiki</a>
            <ul class="navbar__list">
                <li class="navbar__item"><a class="active" href="#">Home</a></li>
                <li class="navbar__item"><a href="#">About</a></li>
                <li class="navbar__item"><a href="#">Contact</a></li>
            </ul>
        </div>
    </header>

    <%- messages('messages', locals) %>
    
    <div class="grid wide">
        <%- include('../partials/error_messages')  %>
    










 