.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.form-label {
    padding-bottom: 6px;
    line-height: 20px;
    font-weight: 700;
}

.form-control {
    height: 40px;
    padding: 8px 12px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 14px;
    outline: none;
}

.form-textarea {
    height: 200px;
}



