:root {
    --color-grey: #f8f8f8;
    --color-header: #9d9d9d;
    --color-header-hover: #f9f9f9;
    --color-background: #222222;
    --color-danger: #752128;
    --color-background-danger: #f8d7da;
    --color-link: #237ad2;
}








